.detail-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.detail-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.detail-container .author {
    font-size: 14px;
    color: rgb(56, 56, 56);
    margin-bottom: 20px;
}

.detail-container .content {
    min-height: 150px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    white-space: pre-wrap; /* 줄 바꿈 유지 */
    line-height: 1.5;
}

.list-button:hover {
    background-color: #1871be;
}

.delete-button:hover{
    background-color: #582828;
}

.edit-button:hover {
    background-color: #1871be;
}